body {
    margin: 0;
    font-family: Arial, sans-serif;
    color:	#F0FFFF;
    background: url('nggeh.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    padding: 50px;
}

.profile {
    margin-bottom: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    color: #00FFFF;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
}

.social-links a:hover {
    text-decoration: underline;
}